.polwel-font-color{
    color:#231D4F;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    line-height: 25px;
}
li i{
    color:#b4adebaf;
}
/* BACKGROUND IMAGE */
.polwel-slider{
    background-image: url(../images/banner-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 584px;

}
.polwel-slider1{
    background-image: url(../images/banar-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 584px;

}
.polwel-slider2{
    background-image: url(../images/banar-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 584px;
}
button.polwel-btn{
    color:white;
}  
.polwel-media{
    position: relative;
    width:100%;
}
.polwel-package{
    transform: translateY(-40px)
}
 /*---------------------------
  COSTOM MEDIA QUERY FOR MOBAIL 
--------------------------------*/
@media only screen and (max-width:576px){
    .polwel-media h2{
        font-size: 24px;
    }
    .polwel-media p{
        font-size: 12px;
        width: 100%;
    }
    .polwel-center{
        text-align: center;
    }
    .polwel-order:nth-child(1){
        order:2;
    }
    .polwel-order:nth-child(2){
        order:1;
        margin-bottom: 20px;
    }
}
 /*---------------------------
  COSTOM MEDIA QUERY FOR TAB 
--------------------------------*/
@media only screen and (min-width:577px) and (max-width:768px){
    .polwel-media h2{
        font-size: 24px;
    }
    .polwel-media p{
        font-size: 12px;
        width: 100%;
    }
    .polwel-center{
        text-align: center;
    }
    .polwel-order:nth-child(1){
        order:2;
    }
    .polwel-order:nth-child(2){
        order:1;
        margin-bottom: 20px;
    }
    .polwel-order img{
        width:100%;
    }
}